
#Ignore test code
SIMscaling.c++
SIMscaling.exe
opt_SIMscaling.*
src/opt_test.exe
src/test.exe
test.txt
src/test
src/test.2
src/opt_test
src/opt_test.2
execute.sh

#Ignore build objects
build/*.o
wsbuild/*.o

#Ignore test outputs
src/*.txt
*.out*

#ignore binaries
bin/*

#Ignore stackdumps
bin/*.stackdump
*.stackdump

#Ignore python files
*.py
src/plotting/.ipynb_checkpoints/*
src/plotting/*.ipynb
