
#Ignore test code
SIMscaling.c++
test.c++
test.exe
threadracing*
a.out
a.exe
threads.exe
SIMscaling.exe
opt_SIMscaling.*
src/opt_test.exe
src/opt_test
src/opt_timing
src/test.exe
test.txt
src/test
src/test.2
src/opt_test
src/opt_test.miller
src/opt_test.2
execute.sh
functionPointers.c++
ifstest.c++
parallelRead.2.c++
parallelRead.c++

*.exe
*.out

#Ignore build objects
build/*.o
build-wsl/*.o

#Ignore test outputs
src/*.txt
data/*.txt
opt_test
*.out*

#ignore binaries
bin/*

#Ignore stackdumps
bin/*.stackdump
*.stackdump

#Ignore python files
*.py
src/plotting/.ipynb_checkpoints/*
src/plotting/*.ipynb

#Ignore output files
src/*.vln

#Ignore outdated testing data/results
data
